body, html, #root {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
   overflow-x: hidden; /* Chặn cuộn ngang */
}
body {
  background: url('style/img/Background.webp') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  font-family: Arial, sans-serif;
}